@import "../variables.scss";

.footer {
  display: flex;
  justify-content: space-between;
  height: 72px;
  border-top: 1px solid $gray-light;

  > * {
    margin: auto 0;
  }

  p {
    font-family: $font-header;
  }
}

.links {
  font-family: $font-text;
  text-transform: uppercase;
  display: inline-block;

  > * {
    &:not(:last-child) {
      margin-right: 2em;
    }
  }
}

.node {
  margin-right: 0.5em;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: $green;
  display: inline-block;
}
