@import "../variables.scss";

.currency {
  font-family: $font-text;
}

.page {
  max-width: 800px;
  margin: 0 auto;

  > h2 {
    font-family: $font-text;
    text-transform: uppercase;
  }
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: $gray-light;
  border-radius: 6px;
  margin: 2em 0;
}

.numberedStat {
  width: 50%;
  padding: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid $gray-light;

  h6 {
    font-family: $font-text;
    text-transform: uppercase;
  }

  .progressDesc {
    color: $text-gray-light;
    font-size: 14px;
    margin-top: 0.5em;
    text-align: justify;
  }

  .progressHeader {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: $text-gray-light;
    margin-top: 2em;
  }

  .progressBar {
    width: 100%;
    height: 4px;
    background-color: $gray-light;
    border-radius: 12px;
    margin: 0.5em 0;
    border-radius: 6px;

    .progress {
      border-radius: 6px;
      width: 10%;
      display: block;
      height: inherit;
      background-color: $green;
    }
  }

  .progressFooter {
    color: $text-gray-light;
    font-size: 14px;
  }
}

.stat {
  padding: 1em;
  width: 25%;
  border-radius: 6px;

  h6 {
    font-family: $font-header;
    color: $text-gray-light;
    font-size: 12px !important;
  }

  p {
    font-family: $font-text;
  }

  &:not(:last-of-type) {
    border-right: 1px solid $gray-light;
  }
}

.positionWrapper {
  .position {
    border-left: 2px solid $green;
  }
}

.positionHeader {
  display: flex;
  justify-content: space-between;

  > h2 {
    font-family: $font-text;
    span {
      color: $green;
    }
  }
}

.exitedPositionWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;

  > h2 {
    font-family: $font-text;
    span {
      color: $red;
    }
  }
}

.position {
  //   border-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: $gray-light;

  margin-top: 1em;

  > h2 {
    display: flex;
    padding: 2em;
    font-family: $font-text;

    span {
      margin-left: 1em;
    }

    > * {
      margin: auto 0;
    }
  }
}

.positionRange {
  padding: 0 2em;

  h2 {
    font-family: $font-header;
    font-size: 12px;
    color: $text-gray-light;
    padding: 0;
  }

  span {
    font-family: $font-text;
  }
}

.positionStats {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  border-top: 1px solid $gray-light;
}

.positionStat {
  padding: 1em 2em;
  width: 33.33%;

  &:not(:last-child) {
    border-right: 1px solid $gray-light;
  }

  h2 {
    font-family: $font-header;
    font-size: 12px;
    color: $text-gray-light;
    padding: 0;
  }

  span {
    font-family: $font-text;
  }
}

.rangeWrapper {
  position: relative;
  display: flex;
  height: 4px;
  background-color: $gray-light;
  margin: 0.5em 0;
  border-radius: 6px;
}

.negativeRange {
  width: 10%;
  display: block;
  height: inherit;
  background-color: $red;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.positiveRange {
  position: absolute;
  right: 0;
  width: 10%;
  display: block;
  height: inherit;
  background-color: $green;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.rangeLimit {
  display: flex;
  width: 80%;
  margin: -3px 10%;
  height: 10px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  position: absolute;

  .range {
    margin: 1px auto;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: white;
  }
}

.rangeLimitDesc {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
